﻿<html>
<head>
    {% if title %}
    <title>EVE - {{ title }}</title>
    {% else %}
    <title>EVE</title>
    {% endif %}

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">
                    <span>
                        {% if current_user.is_authenticated %}
                        {{ current_user.name }}
                        <a role="button" class="btn btn-danger" href="{{url_for('logout') }}">Logga ut</a>
                        {% endif %}
                    </span>
                </p>
                &nbsp;
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Översikt</a></li>
                <li><a href="/devices">Enheter</a></li>
            </ul>
        </div>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="panel panel-default">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>