﻿{% extends "base.html" %}
{% block content %}
    {% if devices %}
<div class="list-group">
    {% for device in devices %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" data-action="on" data-id="{{device.id}}">{{ device.name }}</button>
        <button type="button" class="btn btn-danger" data-action="off" data-id="{{device.id}}">{{ device.name }}</button>
    </div>
    {% endfor %}
</div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
        $(".btn").click(function () {
            console.log("btn clicked!");

            var url = '/devices/action';
            var deviceid = $(this).attr("data-id");
            var action = $(this).attr("data-action");
            var data = {
                "id": deviceid,
                "action": action,
            };

            console.log(url);
            console.log(deviceid);
            console.log(data);
            $.ajax({
                url: url,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                type: "POST",
                success: function (resp) {
                    console.log("OK." + resp);
                },
                error: function (resp) {
                    console.log(resp);
                }
            });
        })
    });
</script>
{% endblock %}