﻿{% extends "base.html" %}
{% block content %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign" />&nbsp;<span>LARM</span></div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-success" href="{{Defs.LARMON}}">Larm på</a>
                <a class="btn btn-danger" href="{{Defs.LARMOFF}}">Larm av</a>
            </div>
            <div class="panel-footer"><p id="statusalarm">N/A</p></div>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-lamp" />&nbsp;<span>LAMPOR</span></div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-success" data-id="-1" data-action="on">Lampor på</a>
                <a class="btn btn-danger" data-id="-1" data-action="off">Lampor av</a>
            </div>
        </div>
        <div class="panel-footer"><p id="statuslights">N/A</p></div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-camera" />&nbsp;<span>KAMERA</span></div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="/camera">Visa kamera</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
        $(".btn").click(function () {
            console.log("btn clicked!");

            var url = '/devices/action';
            var deviceid = $(this).attr("data-id");
            var action = $(this).attr("data-action");
            var data = {
                "id": deviceid,
                "action": action,
            };

            console.log(url);
            console.log(deviceid);
            console.log(data);
            $.ajax({
                url: url,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                type: "POST",
                success: function (resp) {
                    console.log("OK." + resp);
                },
                error: function (resp) {
                    console.log(resp);
                }
            });
        })
    });
</script>
{% endblock %}