﻿{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Logga in</h1>
    <br>
    <form action="/login" method="post">
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        <input type="submit" value="Logga in"/>
    </form>
    {% if error %}
    <p class="error">
        <strong>Error:</strong> {{ error }}
    </p>
    {% endif %}
</div>
{% endblock %}